Lab | Handling Data Imbalance in Classification Models
For this lab and in the next lessons we will use the dataset 'Healthcare For All' building a model to predict who will donate (TargetB) and how much they will give (TargetD). You will be using files_for_lab/learningSet.csv file which you have already downloaded from class.

Scenario
You are revisiting the Healthcare for All Case Study. You are provided with this historical data about Donors and how much they donated. Your task is to build a machine learning model that will help the company identify people who are more likely to donate and then try to predict the donation amount.

Instructions
In this lab, we will first take a look at the degree of imbalance in the data and correct it using the techniques we learned in the class.

Here is the list of steps to be followed (building a simple model without balancing the data):

Import the required libraries and modules that you would need.

Read that data into Python and call the dataframe donors.

Check the datatypes of all the columns in the data.

Check for null values in the dataframe. Replace the null values using the methods learned in class.

Split the data into numerical and catagorical. Decide if any columns need their dtype changed.

Split the data into a training set and a test set.
Scale the features either by using normalizer or a standard scaler.
Encode the categorical features using One-Hot Encoding or Ordinal Encoding
Fit a logistic regression model on the training data.
Check the accuracy on the test data.
Note: So far we have not balanced the data.

Managing imbalance in the dataset

Check for the imbalance.
Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.
Each time fit the model and see how the accuracy of the model has changed.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [26]:
numerical = pd.read_csv('numerical7_02.csv')
categorical= pd.read_csv('categorical7_02.csv')
y = pd.read_csv('target7_02.csv')

In [3]:
numerical.shape

(95412, 322)

In [4]:
categorical.shape

(95412, 12)

In [5]:
y.shape

(95412, 2)

In [8]:
categorical.head()

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,SOLIH,VETERANS,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B
0,IL,36,U,F,3,NaN,NaN,L,E,C,T,2
1,CA,14,H,M,3,NaN,NaN,L,G,A,S,1
2,NC,43,U,M,3,NaN,NaN,L,E,C,R,2
3,CA,44,U,F,3,NaN,NaN,L,E,C,R,2
4,FL,16,H,F,3,12.0,NaN,L,F,A,S,2

In [27]:
numerical.isnull().sum().sort_values(ascending=False)

NEXTDATE    9973
DMA          132
ADI          132
MSA          132
ODATEDW        0
            ...
HHD12          0
HHD11          0
HHD10          0
HHD9           0
CLUSTER2       0
Length: 322, dtype: int64

In [28]:
numerical['ADI'].describe().T

count    95280.000000
mean       187.356402
std        137.019184
min          0.000000
25%         65.000000
50%        175.000000
75%        279.000000
max        651.000000
Name: ADI, dtype: float64

In [29]:
numerical['ADI'] = numerical['ADI'].fillna(np.mean(numerical['ADI']))

In [ ]:
numerical['DMA'] = numerical['DMA'].fillna(np.mean(numerical['DMA']))

In [30]:
 numerical['ADI'] = numerical['ADI'].fillna(np.mean(numerical['ADI']))

NEXTDATE    9973
DMA          132
MSA          132
ODATEDW        0
EIC6           0
            ...
HHD12          0
HHD11          0
HHD10          0
HHD9           0
CLUSTER2       0
Length: 322, dtype: int64